.empleados{
    justify-content: center;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
   
}
.title *{
    padding: 0px 90px;
}

.emple{
    display: flex;
    flex-direction: row;
    table{
        background-color: #303F9F;
        color: white;
        padding: 0em 1em;
    }
}
.empleado{
    display: flex;
    flex-direction: column;
    margin: 1px 15px;
    div{
        margin: 2px 1px;
        text-align: center;

    }
}
.tabla-empl th{
    padding: 3px 0px;

}
.tabla th{
    padding: 11px 0px;
}
.sucursal{
    display: flex;
    flex-direction: column;
    margin: 1px 15px;
    div{
        margin: 9px 1px;
        text-align: center;

    }
}

.tabla-usuarios th{
    padding: 4px 0px;
}